html {
    background: url(https://x.boardgamearena.net/data/themereleases/221026-1000/img/layout/back-main.jpg), #f2f2f2;
}

.nav {
    font-size: 120%;
    font-weight: bold;
}

h1, h2 {
    margin: 0.3rem;
}

.flex {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.flex > div {
    flex: 1;
}

.block {
    background: #FFFFFF99;
    border-radius: 8px;
    padding: 10px;
}

.flex .block {
    min-width: 500px;
}

.mygame-card {
    width: 100px;
    height: 150px;
    position: relative;
    border-radius: 5px;
}
.selection-stock .mygame-card.bga-cards_selectable-card {
    /*box-shadow: 0 0 5px 3px lightgoldenrodyellow;*/
    box-shadow: 0 0 8px 8px orange;
}
.selection-stock .mygame-card.bga-cards_selectable-card .card-side {
    box-shadow: unset;
}

.selection-stock .mygame-card.bga-cards_selected-card {
    box-shadow: 0 0 5px 3px blueviolet;
}
.selection-stock .mygame-card.bga-cards_selected-card .card-side {
    box-shadow: unset;
}

.mygame-card-front {
    background: url('cards.jpg');
    text-align: center;
    border-radius: 5px;
}

.mygame-card-front .type {
    font-weight: bold;
    text-decoration: underline 2px;
}

.mygame-card-back {
    background: url('cards.jpg');
    background-position: 100% 0%;
    border-radius: 5px;
}

.hidden-deck[data-empty="true"] {
    background-color: #FFFFFF99;
    border-radius: 5px;
}

.mygame-slot {
    width: 120px;
    height: 170px;
    padding: 10px;
    background: lightcyan;
}

#line-stocks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
#line-stocks > div {
    border: 1px solid lightgray;
}

#line-stock-overlap {
    padding-left: 80px;
}
#line-stock-overlap .card {
    margin-left: -80px;
}

#line-stock-vertical-overlap {
    padding-top: 100px;
}
#line-stock-vertical-overlap .card {
    margin-top: -100px;
}

.scrollable-stock {
    width: 400px;
}

#manual-position-stocks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 750px;
    flex-wrap: wrap;
}
#manual-position-stocks > div {
    display: inline-block;
    border: 1px solid lightgray;
}

#manual-position-curve-stock .card {
    opacity: 0.6;
}

#void-stock {
    width: 74px;
    height: 80px;
    margin: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: url(./bag.png);
}

.manual-position-stock .card {
    transition: left 0.5s, top 0.5s;
}


.mygame-token {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 50%;
}

.mygame-token .card-side {
    background: url('tokens.png');
    background-size: auto 100%;
    border-radius: 50%;
}

.mygame-token-front[data-number="1"] { background-position-x: 25%; }
.mygame-token-front[data-number="2"] { background-position-x: 50%; }
.mygame-token-front[data-number="3"] { background-position-x: 75%; }
.mygame-token-front[data-number="4"] { background-position-x: 100%; }

.token-slot {
    width: 90px;
    height: 90px;
    background: #FFFFFF99;
    border-radius: 50%;
}

.sort-button.selected {
    outline: 2px solid black;
}