html {
    background: url(https://x.boardgamearena.net/data/themereleases/221026-1000/img/layout/back-main.jpg), #f2f2f2;
}

.mygame-card {
    width: 100px;
    height: 150px;
    position: relative;
    border-radius: 5px;
}
.mygame-card.selected {
    box-shadow: 0 0 5px 3px blueviolet;
}

.mygame-card-front {
    background: white;
    text-align: center;
    border-radius: 5px;
}

.mygame-card-front .type {
    font-weight: bold;
}

.mygame-card-back {
    background: darkblue;
    border-radius: 5px;
}