html {
    background: url(https://x.boardgamearena.net/data/themereleases/221026-1000/img/layout/back-main.jpg), #f2f2f2;
}

h1, h2 {
    margin: 0.3rem;
}

.flex {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.flex > div {
    flex: 1;
}

.flex .block {
    background: #FFFFFF99;
    border-radius: 8px;
    padding: 10px;
    min-width: 500px;
}

.mygame-card {
    width: 100px;
    height: 150px;
    position: relative;
    border-radius: 5px;
}
.mygame-card.selected {
    box-shadow: 0 0 5px 3px blueviolet;
}

.mygame-card-front {
    background: url('cards.jpg');
    text-align: center;
    border-radius: 5px;
}

.mygame-card-front .type {
    font-weight: bold;
    text-decoration: underline 2px;
}

.mygame-card-front .type[data-type="1"] {
    text-decoration-color: red;
}
.mygame-card-front .type[data-type="2"] {
    text-decoration-color: blue;
}
.mygame-card-front .type[data-type="3"] {
    text-decoration-color: green;
}
.mygame-card-front .type[data-type="4"] {
    text-decoration-color: yellow;
}

.mygame-card-back {
    background: url('cards.jpg');
    background-position: 100% 0%;
    border-radius: 5px;
}

.hidden-deck[data-empty="true"] {
    background-color: #FFFFFF99;
    border-radius: 5px;
}

.mygame-slot {
    width: 120px;
    height: 170px;
    padding: 10px;
    background: lightcyan;
}

.scrollable-stock {
    width: 400px;
}

#manual-position-stocks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 650px;
}
#manual-position-stocks > div {
    display: inline-block;
}

#manual-position-curve-stock .card {
    opacity: 0.6;
}