body > .bga-cards_card {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.bga-cards_card {
    position: relative;
    width: var(--bga-cards_card-effective-width);
    height: var(--bga-cards_card-effective-height);
    border-radius: var(--bga-cards_card-border-radius);
    transition: width 0.5s, height 0.5s;
        
    flex-shrink: 0;
    
    &[data-side="back"] {
        .bga-cards_card-sides { 
            transform: rotateY(180deg);
        }
    }

    .bga-cards_card-sides {
        position: absolute;
        width: var(--bga-cards_card-width);
        height: var(--bga-cards_card-height);
        top: calc(50% - (var(--bga-cards_card-height) / 2));
        left: calc(50% - (var(--bga-cards_card-width) / 2));
        transform-style: preserve-3d;
        transition: rotate 0.5s, transform 0.5s;
        rotate: var(--bga-cards_card-rotation);

        .bga-cards_card-side {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform-style: preserve-3d;      
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            transform-origin: center center;
            border-radius: var(--bga-cards_card-border-radius);
            overflow: hidden;

            &.front > * {
                pointer-events: none;
                user-select: none;
            } 
            
            &.back {    
                transform: rotateY(180deg);

                & > * {
                    pointer-events: none;
                    user-select: none;
                }
            }
        }
    }

    .bga-cards_selectable-card {
        cursor: pointer;
    }

    .bga-cards_last-played-card {
        outline: 2px dotted var(--last-played-card-color);
    }
}
