.card-stock {
    &.all-visible-deck {
        position: absolute;
        --tile-count: 1;
        width: calc(var(--width) + var(--tile-count) * var(--shift));
        transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        opacity: var(--tile-count);

        & > * {
            position: absolute;
            margin: 0;
            transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
            top: calc(var(--shift) * var(--order));
            left: calc(var(--shift) * var(--order));
        }

        &.vertical {
            &:hover, &:active, &.opened {
                height: calc((var(--height) + var(--shift)) * var(--tile-count) - var(--shift));
                z-index: 1;

                & > * {
                    top: calc((var(--height) + var(--shift)) * var(--order));
                }
            }
        }

        &.horizontal {
            &:hover, &:active, &.opened {
                width: calc((var(--width) + var(--shift)) * var(--tile-count) - var(--shift));
                z-index: 1;

                & > * {
                    left: calc((var(--width) + var(--shift)) * var(--order));
                }
            }
        }
    }
}