.card-stock {
    .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
        cursor: pointer;
    }

    .card.bga-cards_disabled-card {
        cursor: not-allowed;
        filter: contrast(0.6);
    }
}