.card-stock {
    &.deck {
        position: relative;
        width: var(--width);
        height: var(--height);
        border-radius: var(--bga-cards_card-border-radius);
        margin-left: var(--deck-margin-left);
        margin-right: var(--deck-margin-right);
        margin-top: var(--deck-margin-top);
        margin-bottom: var(--deck-margin-bottom);
        box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0,0,0,0.5);

        &>.bga-cards_card {            
            position: absolute;
        }
    
        &[data-empty="true"] {
            background: rgba(255, 255, 255, 0.4);
            &>.bga-cards_card { 
                visibility: hidden;
            }
        }
    }
}
