.card-stock {
    &.deck {
        position: relative;
        width: var(--width);
        height: var(--height);

        &>.card {            
            position: absolute;
            top: calc(var(--thickness) * var(--xShadowShift) * -1);
            left: calc(var(--thickness) * var(--yShadowShift) * -1);

            &:first-child {
                box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0,0,0,0.5);
            }
        }
    
        &[data-empty="true"] {
            &>.card { 
                visibility: hidden;
            }

            .bga-cards_deck-counter.hide-when-empty {
                display: none;
            }
        }
    }
}

.bga-cards_deck-counter {
    --bga-cards-deck-counter-size: 20px;

    position: absolute;
    z-index: 2;

    width: var(--bga-cards-deck-counter-size);
    height: var(--bga-cards-deck-counter-size);

    left: calc(var(--bga-cards-deck-left) - (var(--bga-cards-deck-counter-size) / 2));
    top: calc(var(--bga-cards-deck-top) - (var(--bga-cards-deck-counter-size) / 2));

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    pointer-events: none;

    &.round {
        color: black;
        background: white;
        border-radius: 50%;
        box-shadow: 0 0 2px 1px black;
        font-size: 14px;
    }

    &.text-shadow {
        color: white;
        text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
        font-size: 20px;
    }

    &.hidden {
        display: none;
    }
}