.discard-deck {
    position: relative;
    
    width: var(--width);
    height: var(--height);
    margin: var(--discard-deck-vertical-margin) var(--discard-deck-horizontal-margin);
    & > .bga-cards_card {
        position: absolute;
        left: var(--discard-deck-left);
        top: var(--discard-deck-top);
        rotate: var(--discard-deck-rotate);
    }
}